:root {
	/*
	*
	* Colors
	*
	*/
	/* Crear variables para fuentes, tipos y tamaños de letra */
	--violet: #5e00ff;
	--orange: #f39243;
	--white: #eeeeee;
	--dark: #21232c;
	--green: #82f782;
	--blue: #4a90e2;
	--yellow: #edb95e;
	--red: #e23636;
	/*
	*
	* Actions
	*
	*/
	--primary: var(--blue);
	--accent1: var(--violet);
	--accent2: var(--orange);
	--success: var(--green);
	--warning: var(--yellow);
	--danger: var(--red);
	--text-light: var(--white);
	--text-dark: var(--dark);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--white);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
a {
	display: block;
	text-decoration: none;
}

.btn-primary {
	background-color: var(--primary);
}
.btn-success {
	background-color: var(--success);
}
.btn-danger {
	background-color: var(--danger);
}

.text-accent1 {
	color: var(--accent1);
}
.text-accent2 {
	color: var(--accent2);
}
.text-success {
	color: var(--success);
}
.text-warning {
	color: var(--warning);
}
.text-danger {
	color: var(--danger);
}

.text-light {
	color: var(--text-light);
}

.text-dark {
	color: var(--text-dark);
}
