:root {
	/*
	*
	* Colors
	*
	*/
	/* Crear variables para fuentes, tipos y tamaños de letra */
	--violet: #b29ddb;
	--violet-light: #e5ceff;
	--violet-dark: #826fa9;
	--blue: #1875d1;
	--blue-light: #63a3ff;
	--blue-dark: #004a9f;
	--orange: #f39243;
	--white: #ffffff;
	--black: #000000;
	--green: #82f782;
	--yellow: #edb95e;
	--red: #e23636;
	/*
	*
	* Actions
	*
	*/
	--success: var(--green);
	--warning: var(--yellow);
	--danger: var(--red);
	/*
		*
		* Primary
		*
		*/
	--primary: var(--violet);
	--primary-light: var(--violet-light);
	--primary-dark: var(--violet-dark);
	--primary-text: var(--white);
	/*
		*
		* Secondary
		*
		*/
	--secondary: var(--blue);
	--secondary-light: var(--blue-light);
	--secondary-dark: var(--blue-dark);
	--secondary-text: var(--dark);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
a {
	display: block;
	text-decoration: none;
}

.btn-primary {
	background-color: var(--primary);
}
.btn-success {
	background-color: var(--success);
}
.btn-danger {
	background-color: var(--danger);
}

.text-accent1 {
	color: var(--accent1);
}
.text-accent2 {
	color: var(--accent2);
}
.text-success {
	color: var(--success);
}
.text-warning {
	color: var(--warning);
}
.text-danger {
	color: var(--danger);
}

.text-light {
	color: var(--text-light);
}

.text-dark {
	color: var(--text-dark);
}
