@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
	/*
	*
	* Colors
	*
	*/
	/* Crear variables para fuentes, tipos y tamaños de letra */
	--red-pink: #d3145a;
	--red-pink-light: #e5ceff;
	--red-pink-dark: #826fa9;
	--blue: #3e5dfb;
	--blue-light: #63a3ff;
	--blue-dark: #004a9f;
	--grey: #777777;
	--orange: #f39243;
	--white: #ffffff;
	--black: #000000;
	--green: #82f782;
	--yellow: #edb95e;
	--red: #e23636;
	/*
	*
	* Actions
	*
	*/
	--success: var(--green);
	--warning: var(--yellow);
	--danger: var(--red);
	/*
		*
		* Primary
		*
		*/
	--primary: var(--blue);
	--primary-light: var(--blue-light);
	--primary-dark: var(--blue-dark);
	--primary-text: var(--white);
	/*
		*
		* Secondary
		*
		*/
	--secondary: var(--red-pink);
	--secondary-light: var(--red-pink-light);
	--secondary-dark: var(--red-pink-dark);
	--secondary-text: var(--dark);

	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Montserrat', sans-serif; */
	--ff-Montserrat: "Montserrat", sans-serif;
	--ff-Poppins: "Poppins", sans-serif;
	/* Monserrat es distinto */
	--primary-text: var(--ff-Montserrat);
	/* Popins es mas grueso */
	--secondary-text: var(--ff-Poppins);
}
* {
	font-family: var(--primary-text);
}
body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont; */
	font-family: var(--primary-text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
a {
	font-family: var(--secondary-text);
	display: block;
	text-decoration: none;
}

.btn-primary {
	background-color: var(--primary);
}
.btn-success {
	background-color: var(--success);
}
.btn-danger {
	background-color: var(--danger);
}

.text-accent1 {
	color: var(--accent1);
}
.text-accent2 {
	color: var(--accent2);
}
.text-success {
	color: var(--success);
}
.text-warning {
	color: var(--warning);
}
.text-danger {
	color: var(--danger);
}

.text-light {
	color: var(--text-light);
}

.text-dark {
	color: var(--text-dark);
}
